body {
    
   background-color: white;
}
h1 {
    color: rgb(189, 164, 164);
    text-align: center;
    font-style: italic;
}
.important {
    border: 2px solid blue;
    font-family: sans-serif;
}
.unimportant {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:2px solid purple;
    padding:6px solid white;
    margin:40px;
    float: right;
}
.wise {
    font-family: cursive;
    margin:200px;
    padding: 6px red;
}
